:root {
    --theme-color-nav: rgb(213, 213, 213);
    --theme-color-back: rgb(245, 245, 245);
    --theme-color-scoreBars: rgb(255, 0, 0);
    --theme-color-keys-secondary: rgb(191, 191, 191);
    --theme-color-text: rgb(0, 0, 0);
    --theme-color-burger: rgb(64, 64, 64);
    --theme-color-hands: #ca9062;
    --theme-color-buttons: lightgray;

    --skin-tone-6: #604437;
    --skin-tone-5: #a3602f;
    --skin-tone-4: #ca9062;
    --skin-tone-3: #e2b084;
    --skin-tone-2: #ffddb9;
    --skin-tone-1: #ffce02;

    --app-height: 80vh;
    --button-height: 20vh;
    --column-height: 45vh;
}

.tone-6 {
    color: var(--skin-tone-6);
}
.tone-5 {
    color: var(--skin-tone-5);
}
.tone-4 {
    color: var(--skin-tone-4);
}
.tone-3 {
    color: var(--skin-tone-3);
}
.tone-2 {
    color: var(--skin-tone-2);
}
.tone-1 {
    color: var(--skin-tone-1);
}

html {
    background: var(--theme-color-back);
}

body {
    width: 100%;
    background: var(--theme-color-back);
}

* {
    padding: 0;
    margin: 0;
}

.main-parent-container {
    /* background: var(--theme-color-back); */
    height: var(--app-height);
    display: flex;
    flex-direction: column;
}

.parent1 {
    /* background: var(--theme-color-back); */
    padding: 0px;
    flex-grow: 1;
    margin: 0.2em;
}

.parent2 {
    /* background: var(--theme-color-back); */
    padding: 0px;
    margin: 0.2em;
}

.main-three-columns {
    display: grid;
    height: var(--column-height);
    grid-template-columns: 1fr 4fr 1fr;
}

.human-score-bars {
    background: var(--theme-color-back);
    display: grid;
    align-self: end;
    grid-template-rows: repeat(10, 30px);
}

.human-score-bars > grid-item {
    margin: 0.15em;
    background: var(--theme-color-scoreBars);
}

.human-score-bars > grid-item:nth-child(1) {
    grid-area: column-1;
}
.human-score-bars > grid-item:nth-child(2) {
    grid-area: column-2;
}
.human-score-bars > grid-item:nth-child(3) {
    grid-area: column-3;
}
.human-score-bars > grid-item:nth-child(4) {
    grid-area: column-4;
}
.human-score-bars > grid-item:nth-child(5) {
    grid-area: column-5;
}
.human-score-bars > grid-item:nth-child(6) {
    grid-area: column-6;
}
.human-score-bars > grid-item:nth-child(7) {
    grid-area: column-7;
}
.human-score-bars > grid-item:nth-child(8) {
    grid-area: column-8;
}
.human-score-bars > grid-item:nth-child(9) {
    grid-area: column-9;
}
.human-score-bars > grid-item:nth-child(10) {
    grid-area: column-10;
}
.human-score-bars {
    grid-template-columns: 1fr;
    grid-template-areas:
        " column-10 "
        " column-9 "
        " column-8 "
        " column-7 "
        " column-6 "
        " column-5 "
        " column-4 "
        " column-3 "
        " column-2 "
        " column-1 ";
}

/* ####################### */
/* Center Column */
/* ####################### */

.column-center {
    padding: 0px;
    height: var(--center-columns-max);
    display: grid;
    align-self: end;
    grid-template-rows: 1fr 3fr 1fr;
}

/* ####################### */
/* Row Titles */
/* ####################### */

.row-titles {
    background-color: var(--theme-color-back);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.row-titles > div {
    margin: 3px;
    text-align: center;
    color: var(--theme-color-text);
    font-size: 1em;
    font-family: "Goldman", cursive;
    font-family: "Stalinist One", cursive;
}

/* ####################### */
/* What was played */
/* ####################### */

.row-plays {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* min-height: 60px; */
    background-color: var(--theme-color-back);
}

.row-plays > div {
    display: grid;
    place-items: center;
    font-size: 7vh;
    color: var(--theme-color-hands);
}

/* ####################### */
/* status and counter */
/* ####################### */

.row-status {
    display: grid;
    background: var(--theme-color-back);
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
    font-size: 1em;
    color: var(--theme-color-text);
    font-family: "Goldman", cursive;
    font-family: "Stalinist One", cursive;
}
.row-status > h1 {
    display: none;
}

/* ####################### */
/* The rock, paper and scissors */
/* ####################### */

.row-choices-parent {
    padding: 0px;
    min-height: var(--button-height);
    display: grid;
    gap: 0.4em;
    margin: 0 0.4em 0 0.4em;
    grid-template-columns: 1fr 1fr 1fr;
}

/* --------------------------------------- Buttons --------------------------------------- */
/* Button 1  */
.button-rock {
    background: var(--theme-color-buttons);
    border-radius: 3vh;
    font-size: 10vh;
    color: var(--theme-color-hands);
    display: grid;
    place-items: center;
}

/* Button 2 */
.button-paper {
    background: var(--theme-color-buttons);
    border-radius: 3vh;
    font-size: 10vh;
    color: var(--theme-color-hands);
    display: grid;
    place-items: center;
}

/* Button 3 */
.button-scissors {
    background: var(--theme-color-buttons);
    border-radius: 3vh;
    font-size: 10vh;
    color: var(--theme-color-hands);
    display: grid;
    place-items: center;
}

.computer-score-bars {
    background: var(--theme-color-back);
    display: grid;
    align-self: end;
    grid-template-rows: repeat(10, 30px);
}

.computer-score-bars > grid-item {
    margin: 0.15em;
    background: var(--theme-color-scoreBars);
}

.computer-score-bars > grid-item:nth-child(1) {
    grid-area: column-1;
}
.computer-score-bars > grid-item:nth-child(2) {
    grid-area: column-2;
}
.computer-score-bars > grid-item:nth-child(3) {
    grid-area: column-3;
}
.computer-score-bars > grid-item:nth-child(4) {
    grid-area: column-4;
}
.computer-score-bars > grid-item:nth-child(5) {
    grid-area: column-5;
}
.computer-score-bars > grid-item:nth-child(6) {
    grid-area: column-6;
}
.computer-score-bars > grid-item:nth-child(7) {
    grid-area: column-7;
}
.computer-score-bars > grid-item:nth-child(8) {
    grid-area: column-8;
}
.computer-score-bars > grid-item:nth-child(9) {
    grid-area: column-9;
}
.computer-score-bars > grid-item:nth-child(10) {
    grid-area: column-10;
}
.computer-score-bars {
    grid-template-columns: 1fr;
    grid-template-areas:
        " column-10 "
        " column-9 "
        " column-8 "
        " column-7 "
        " column-6 "
        " column-5 "
        " column-4 "
        " column-3 "
        " column-2 "
        " column-1 ";
}

/* ####################### */
/* Nav bar */
/* ####################### */

.navbar {
    background: var(--theme-color-nav);
    height: auto;
}

.navbar .btn {
    background: var(--theme-color-nav);
}

.navbar .burger {
    width: 2em;
    height: 0.2em;
    background-color: var(--theme-color-burger);
    margin: 0.25em 0;
    -radius: 0.2em;
}

.navbar div {
    background-color: var(--theme-color-nav);
    color: var(--theme-color-text);
}

.navbar input {
    color: var(--theme-color-text);
}

.navbar label {
    color: var(--theme-color-text);
}

.navbar a {
    color: var(--theme-color-text);
}

#tone-6 {
}

/* ####################### */
/*  */
/* ####################### */
